@media only screen and (max-width: 576px){
.navbar-brand{
/* width: 25%; */
font-size: 1rem;
margin-left: 0rem;
}
.navbar-brand p {
    font-size: 24px ;
}
.navbar-brand h6{
    font-size: 14px;
}
.navbar-toggler-icon {
    margin-top: -100px;
    margin-right: -20px;
}
.features_card.is-visible {
    height: 330px;
}
}